
.project-tile {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.projects-section {
    padding: 100px 0;
    height: 100vh; /* Makes the welcome section the same height as the viewport */
    background-color: #929292; 
    color: #333; 
    text-align: center;
    padding-bottom: 200px !important;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.projecth2 {
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    color: #333;
}

.projects-grid {
    display:grid;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
}

@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

.project-tile {
    width: 30%;
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 10px;
}

.project-image {
    width: 400px;
    display: block;
    display: inline-flex;
    border-radius: 5px; 
}

.projects-grid a {
    color: rgb(50, 49, 49);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
}

.projects-grid a:hover{
    @include mixhover}